nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

nav > img {
  height: 5rem;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1rem;
  list-style: none;
  padding-right: 2rem;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover {
  background: #f1f1f1;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
}

.menu-toggle {
  display: block;
  font-size: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 2rem;
}

.menu-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  background-color: rgb(71, 133, 126);
  padding: 3rem;
  margin-left: 11rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.menu-links.show {
  display: flex;
}

.menu-toggle.open {
  transform: rotate(90deg);
}

@media only screen and (min-width: 920px) {
  nav {
    max-width: 100%;
    padding: 0;
  }

  nav > ul {
    font-size: 1.5rem;
  }

  nav > img {
    height: 6rem;
  }

  .menu-toggle {
    display: none;
  }

  .menu-links {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin-left: 55rem;
  }

  .menu-links > li > a {
    color: #0c120c;
  }
}
