nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

nav > img {
  height: 5rem;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1rem;
  list-style: none;
  padding-right: 2rem;
}

nav > ul > li > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav > ul > li > a:hover {
  background: #f1f1f1;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
}

@media only screen and (min-width: 920px) {
  nav {
    max-width: 100%;
    padding: 0;
  }

  nav > ul {
    font-size: 1.5rem;
  }

  nav > img {
    height: 6rem;
  }
}
