.containerAnswer img {
  height: 3vh;
}

.containerAnswer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

button {
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

p {
  margin: 2rem;
}

.flags-container {
  display: flex; /* Utiliser flexbox */
  justify-content: center; /* Centrer les images horizontalement */
  gap: 5rem; /* Espacement entre les images */
}

.flags {
  width: 25rem; /* Vous pouvez ajuster la taille des drapeaux */
  height: auto; /* Garder les proportions des images */
}

dialog {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgb(82, 82, 82);
  min-width: 40vw;
  margin: 5rem auto;
  & p {
    background: white;
  }
}

.good {
  border: 8px solid var(--color-green);

  & button {
    background: var(--color-green);
    border: none;
  }
}

.notGood {
  border: 8px solid var(--color-orange);
  & button {
    background: var(--color-orange);
  }
}
