.home_theme {
  text-align: center;

  & .containers-themes {
    margin: 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & button {
      border: none;
      background: none;
    }
  }
}
