.home_theme {
  text-align: center;
  padding-top: 4rem;

  & .containers-themes {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6rem;

    & button {
      border: none;
      background: none;
      padding-bottom: 3rem;
    }
  }
}

.home_theme > h1 {
  font-size: 2rem;
}
