.home {
  text-align: center;
  height: 80vh;

  & h2 {
    padding: 2rem 0;
  }

  & img {
    animation: blink 0.8s infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    max-width: 80vw;
  }
  50% {
    max-width: 70vw;
  }
}

@media only screen and (min-width: 768px) {
  .home {
    height: 90vh;
  }
  @keyframes blink {
    0%,
    100% {
      width: 65vw;
    }
    50% {
      width: 60vw;
    }
  }
}

@media only screen and (min-width: 920px) {
  .home {
    height: 110vh;
  }
  @keyframes blink {
    0%,
    100% {
      width: 40vw;
    }
    50% {
      width: 35vw;
    }
  }
}
