.title-themes {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin-top: 24rem;
}

.containers-themes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.containers-themes > button {
  border: none;
  padding: 0;
  margin: 0 auto;
  background: none;
  cursor: pointer;
  flex-direction: row;
  max-width: 80%;
}

@media only screen and (min-width: 920px) {
  .title-themes {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .containers-themes {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 25%;
  }

  .containers-themes > button {
    flex-direction: column;
  }
}
